body {
    background-color:deepskyblue;
}

.sidenav {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 25px;
    padding: 20px;
}

/* Links  */

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover{
    color: blue;
    padding: 0ch;
    transition: 1s;
    
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

/* container */

.container {
    position:fixed ;
    padding: 18px 6% 18px 6%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: #818181;
    border-radius: 5px;
    border: 1px solid rgba(147, 184, 189,0.8);

    
    
}



